<h1>My portfolio</h1>
<div class="search-area mb-3">
  <h3>Search for stocks</h3>
  <%= form_tag search_stock_path,remote: true, method: :get do %>
    <div class="input-group">
      <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class:"form-control form-control-lg rounded-0" %>
      <div class="input-group-append">
        <%= button_tag type: :submit, class: "btn btn-outline-mdb-color waves-effect m-0" do %>
          <%= fa_icon "search lg" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="results">
</div>
<% if !@tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% end%>
