<!DOCTYPE html>
<html>
  <head>
    <title>BrokerApp</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path("icon.png") %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div class="container pt-2">
      <%= render "layouts/messages" %>
      <%= yield %>
    </div>
  </body>
</html>
